/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-r from-indigo-900 via-purple-600  to-purple-950;
  }
}

:root {
  /* font-family: "Raleway", sans-serif; */
  /* font-family: "Roboto Mono", monospace; */
  /* font-family: "Josefin Sans", sans-serif; */
  /* font-family: "Tinos", serif; */
  font-family: "Montserrat", sans-serif;

  font-weight: 300;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
